/* ---------------------------common styles for entire website start---------------------- */

body{
    margin: 0 auto;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Poppins', sans-serif;
}
/* ---------------------------common styles for entire website end---------------------- */


/* -----------------------------Top header style start------------------------------- */
header{
    display: flex;
    justify-content: center;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 1136px;
    margin: 50px 140px;
    padding-left: 106px;
    padding-right: 79px;
    background-color: #161616;
    border: 0;
    border-radius: 30px;
}
.slogan{
    /* margin: 111px 0; */
    width: 531px;
    margin: 70px 0;
    /* height: 424px; */
}
.banner-head{
    font-size: 70px;
    font-weight: 700;
    color: #FFFFFF;
    /* line-height: 80px; */
    margin: 0;
    padding: 0;
}

.banner-desc{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 26px;
}

.banner-link {
    background-color: #DD0000;
    border: 0;
    padding: 16px 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.banner-link a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}


.banner-image{
    align-items: flex-end;
    border: 0;
}

.banner-image img{
    width: 581px;
    height: 613px;
}


/* -----------------------------Top header style end------------------------------- */


/* ----------------------------main part style start-------------------------------- */
main{
    display: flex;
    justify-content: center;
}

.main-part{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1136px;

}

.left-section{
    display: flex;
    justify-content: center;
    background-color: #161616;
    border-radius: 10px;
    width: 312px;
    margin-right: 24px;
    padding: 20px;
}


.left-section nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-section nav ul li{
    list-style: none;
    width: 252px;
    height: 64px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 10px;
}

.left-section nav ul li a{
    text-decoration: none;
    color: #161616;
    
}
.left-section nav ul li.selected {
    background-color: #DD0000;
}
.left-section nav ul li.selected a{
    text-decoration: none;
    color: #FFFFFF;

}

.right-section{
    width: 100% - 312px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    grid-column-gap: 20px;
}

.blog{
    width: 312px;
    height: 362px;
    border: 1px solid rgba(85, 80, 80, 0.1);
    border-radius: 10px;
    margin-bottom: 30px;
}

.blog-description{
    padding: 15px;
}

.transfer{
    color: #161616;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    width: 100px;
    height: 32px;
    line-height: 24px;
}

.blog-short{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #161616;
}

.blog-info{
    display: flex;
    justify-content:space-between;
    
}


/* ----------------------------main part style end-------------------------------- */

/* ------------------------upcoming match style start ----------------------------- */

.matches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: space-around; */
    /* align-items: center; */
    width: 100%;
    grid-column-gap: 20px;
}

.match{
    width: 252px;
    height: 150px;
    border: 1px solid rgba(85, 80, 80, 0.1);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 53px 30px;
}

.match-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.match-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ------------------------upcoming match style end ----------------------------- */

/* --------------------tab view button start --------------------------- */
.tab-view-button{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    display: none;
}

.tabview{
    width: 131px;
    height: 47px;
    padding: 12px 29px;
    background-color: #DD0000;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* --------------------tab view button end --------------------------- */


/* -----------------------------footer style start------------------------------- */

footer{
    background-color: #161616;
    margin-top: 50px;
    width: 100%;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer-content h1{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    width: 898px;
    border-bottom: 1px solid rgba(174, 173, 173, 0.1);
    display: flex;
    justify-content: center;
}

.footer-menu{
    /* width: 898px; */
    width: 60%;
    /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
    padding: 0 0 30px 0;
}
.footer-menu ul{
    display: flex;
    /* width: 60%; */
    justify-content: space-around;
    align-items: center;
}

.footer-menu ul li{
    list-style: none;
}

.footer-menu ul li a{
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 500;
    /* padding-right: 20px; */
}

/* -----------------------------footer style end------------------------------- */

/* Medium devices (tablets) */
@media screen and (min-width:577px) and (max-width:992px) {
    .tab-view-button {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        cursor:grab;
    }

    .tab-view-button a{
        text-decoration: none;
        color: #FFFFFF;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        justify-content: space-around;
        align-items: center;
    }


    .left-section {
        display: flex;
        justify-content: center;
        background-color: #FFFFFF;
        border-radius: 10px;
        /* width: 312px; */
        margin-right: 24px;
        padding: 20px;
    }

    .left-section nav ul {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        row-gap: 10px;

    }

    .left-section nav ul li{
        border: 1px solid rgba(97, 93, 93, 0.1);
    }

    .main-part {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1136px;
        flex-direction: column;

    }
}

@media screen and (max-width:577px) {
    .banner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 734px;
            margin: 50px 140px;
            padding-left: 106px;
            padding-right: 79px;
            background-color: #161616;
            border: 0;
            border-radius: 30px;
        }
    
        .slogan {
            /* margin: 111px 0; */
            width: 316px;
            margin: 70px 0;
            /* height: 424px; */
        }
    
        .banner-head {
            font-size: 40px;
            font-weight: 700;
            color: #FFFFFF;
            /* line-height: 80px; */
            margin: 0;
            padding: 0;
        }
    
        .banner-desc {
            font-size: 16px;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 26px;
        }
    
        /* .banner-link{
            background-color: #DD0000;
            border: 0;
            padding: 16px 25px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        } */

        /* .banner-link a{
            text-decoration: none;
            color: #FFFFFF;
            font-size: 20px;
            font-weight: 400;
        } */
    
        .banner-image {
            align-items: flex-end;
            border: 0;
        }
    
        .banner-image img {
            width: 233px;
            height: 245px;
        }
}